*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-left{
    width: 25%;
    height: 105vh;
    float: left;
    margin-top: 25px;
    border-right: 2px solid #e1e1e1;
}

.user-right{
    width: 75%;
    height: 105vh;
    float: right;
    margin-top: 25px;
}

.user-link{
    font-size: 13pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #0cb9ae;
}

.user-link:hover{
    color: red;
}

.user-tittle{
    margin-left: 15px;
    font-size: 15pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #0cb9ae;
}

.line{
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #dddddd;
}


.user-about{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.user-text{
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
}