#name_calendar{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.button-date{
  padding: 1px 10px 5px 10px !important;
}
tr#title th{
  background-color: #d3d3d3;
  color: #6d5f56;
  font-size:1rem;
}
/* tr td{
  background-color: #f6fff3 !important;
} */
#tableid tbody{
  max-height: 300px !important;
}

.button-date{
  padding: 1px 5px 5px 5px !important;
}
.form-group {
  width: 100%;
}

.form-component {
  position: relative;
}

.label-form {
  font-size: 12px;
  color: #ccc;
  order: 1;
  user-select: none;
}

.title-input {
  order: 2;
}

.form-control:focus + .label-form {
  color: #3399FF !important;
}

.form-distance {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

.form-control {
  border-radius: 0;
  border: 0; 
  padding: 2px 0; 
  border-bottom: 1px solid rgb(182, 181, 181);
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control ~ .focus-border {
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  width: 0%;
  height: 2px; 
  background-color: #3399FF; 
  transition: 0.4s;
}

.form-control:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s; 
  left: 0;
}


#title-form {
  display: none !important;
  position: absolute;
  width: 25%;
  border-radius: 4px;
  box-shadow: 0 0 25px rgb(138, 133, 133);
}

.form-header div:hover {
  background-color: rgb(209, 91, 91);
}

#title-form span {
  font-size: 14px;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn>div {
  padding: 2px;
  padding-bottom: 0;
  border-radius: 50%;
}

.close-btn>div:hover {
  background-color: rgb(224, 224, 224);
}

.btn-close:focus {
  box-shadow: none;
  border-radius: 50%;
}


/* //form new event */

.button-close{
  position: absolute;
  top: 15px;
  right:  15px;
  padding-bottom: 0px !important;
}
.button-close p{
  font-size: 15px;
}
#modal-event-input {
  display:none ;
  justify-content: center;
  align-items: center;
}

.modal-wrapper{
  position: relative;
  margin-top: -30px ;
  padding-left: 20px !important;
}
#modal-event-input::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(143, 143, 143, 0.5);
}

.modal-wrapper {
  width: 30%;
  border: 1px solid #ccc;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  top: 18%;

  animation: zoomIn ease-in .25s;
}

.fix-margin {
  margin-top: 12px;
}

.save_cls .btn-save,.modal_buttonclose{
  float:right;
}
.btn-delete:hover{

  color:rgb(227, 22, 91) ;
}
#modal-event-input button:hover{
  background-color: rgb(209, 209, 209);
}
.save_cls>button:first-child{
  color: rgb(227, 22, 91);
}

.event-heading {
  font-size: 17px;
  font-weight: 400;
}
#room-type{
  width:15%;
  float:right;
}

.room-title {
  position: relative;
}

.room-title img {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 150px;
  z-index: 9999;
}

.room-title span {
  color: #000;
  font-size: 14px;
}

.capacity-room {
  font-size: 12px;
  color: #fff;

float: right;
background-color: rgb(133,128,128);
padding: 0 4px;
}

#already-form{
  display: none !important;
  position: absolute;
  width: 25%;
  box-shadow: 0 0 25px rgb(138, 133, 133);
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
}
.already-form-header{
  background-color: #7fa900;
  color:white;
  height:80px;
  padding:15px
}
.feature-btn{
  text-align:end;
}

.feature-btn button{
  cursor: pointer;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
}

#title span{
  font-weight: border;
  
}
.already-form-footer{
  padding:15px;
  color:#838383;
  
}
.already-form-footer button{
  margin-left: 10px;
  color:#36353d;
  font-weight: 500;
  letter-spacing:0.5px;
}

.already-form-footer div {
  margin: 8px 0;
}

#edit, #remove, #close,#addmember{
  border-radius: 50%;
  padding: 5px 7px;
  font-size: 12px;
} 

#edit {
  padding: 5px 8px;
}

#remove {
  padding: 5px 9px;
}

#close {
  padding: 5px 9px;
}
#addmember{
  padding: 5px 7px;
}
#edit:hover, #remove:hover, #close:hover,#addmember:hover,#edit:focus {
  background-color: rgb(218, 216, 216, .3);
}

#place-show, #comment-show {
  display: none;
}

.span-title {
  user-select: none;
}

#title-form, #already-form {
  animation: growth ease-in .25s;
}

.room-image {
  position: absolute;
  width: 130px;
  height: 90px;
  top: 40px;
  background-size: cover;
  display: none;
  border-radius: 8px;
  box-shadow: 0 0 25px rgb(138, 133, 133);
  animation: growth ease-in .5s;
}

.hide-cell {
  display: none;
  border: none;
  
}

@keyframes growth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.data{
  display:none;
  padding:10px;
}
.feature{
  font-size:20px;
}
.feature .fa-sign-out-alt ,.feature .fa-user{
  color:#293042;
  cursor: pointer;
  margin:10px 10px;
}

.feature .fa-sign-out-alt:hover ,.feature .fa-user:hover{
  opacity:0.5;
  animation:fadeInFromNone 0.2s ease-out;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
#email--form{
  display:none !important;
  position: absolute;
  width: 20%;
  box-shadow: 0 0 25px rgb(138, 133, 133);
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
#email--form .btn--email button{
 margin-top:20px;
 width:49%;
 padding:5px;
 border-radius:6px;
}
#email--form textarea{
  border:0.2px solid rgb(138, 123, 123);
  letter-spacing:1px;
  padding:5px;
  line-height:30px;
  color:green;
  text-align: center;
}

#email--form .form-headding #email-close{
  border:none;
  outline:none;
  float:right;
  width:15%;
  border-radius: 15%;
}
#email--form .form-headding #email-close:hover{
  opacity: 0.5;
}
.from{
  position: relative;
}
.fa-clock{
  position:absolute;
  top:30%;
  right:0.5%;
  padding:9px 10px;
  color:rgb(116, 110, 110);
}