#name_calendar{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}
tr#title th{
  background-color: #d3d3d3 !important;
  color: #6d5f56;
  font-size:1rem;
}
tr td{
    background-color: #f6fff3 !important;
}
#tableid tbody{
  max-height: 300px !important;
}

.button-date{
  padding: 1px 5px 5px 5px !important;
}