* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    position: relative;
    height: 100%;
    height: 100vh;
  
}

section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

section .navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

section .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background-color: #fff;
    padding: 3px 3px 0;
    opacity: .7;
    transition: .5s;
   
}

section .navigation li:hover {
    opacity: 1;
}

section .navigation li img {
    width: 120px;
    height: 60px;
    transition: .5s;
}

section .navigation li img:hover {
    width: 200px;
    height: 100px;
}

.back-btn {
    top: 4px;
    left: 4px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #3399FF;
    border: 2px solid #3399FF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    transition: .3s ease-in;
    border-radius: 8px;
}

.back-btn:hover {
    background-color: #3399FF;
    color: #fff;
}

